@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
    background: #3a7bd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.logoDolarven {
    width: 150px;
}

.titulo{ 
    color: #1a1a1a;
}
.subtitulo {
    color: white;
}

/* Banner*/
.parrafoBanner {
    color: white;
}

.btnContacto {
    background-color: #40403f;
    color: white;
}

.btnContacto:hover{
    background-color:#c7c7c7 ;
    color: #1a1a1a;
}
/* HR */
hr {
    color: white;
    stroke-opacity: 0;

}

.parrafoSecction {
    color: aliceblue;
}

.divSvg {
    background-color: #f0f0ee;
    cursor: pointer;
}
.divSvg:hover {
    background-color: #40403f;
    color: white;

}

.icono {
    width: 150px;
}





