@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
    background-image: radial-gradient(circle at 20% 12%, rgba(7, 7, 7,0.24) 0%, rgba(7, 7, 7,0.24) 33.333%,rgba(30, 30, 30,0.24) 33.333%, rgba(30, 30, 30,0.24) 66.666%,rgba(53, 53, 53,0.24) 66.666%, rgba(53, 53, 53,0.24) 99.999%),radial-gradient(circle at 66% 14%, rgba(45, 45, 45,0.2) 0%, rgba(45, 45, 45,0.2) 33.333%,rgba(72, 72, 72,0.2) 33.333%, rgba(72, 72, 72,0.2) 66.666%,rgba(99, 99, 99,0.2) 66.666%, rgba(99, 99, 99,0.2) 99.999%),radial-gradient(circle at 3% 81%, rgba(83, 83, 83,0.16) 0%, rgba(83, 83, 83,0.16) 33.333%,rgba(142, 142, 142,0.16) 33.333%, rgba(142, 142, 142,0.16) 66.666%,rgba(201, 201, 201,0.16) 66.666%, rgba(201, 201, 201,0.16) 99.999%),linear-gradient(45deg, rgb(139, 163, 255),rgb(132, 39, 232));
}

.navSombra {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.logoDolarven {
    width: 170px;
}

.titulo{ 
    color: #1a1a1a;
}
.subtitulo {
    color: white;
}

/* Banner*/
.banner {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.parrafoBanner {
    color: white;
}

.btnContacto {
    background-color: #c7c7c7;
    color: rgb(0, 0, 0);
}

.btnContacto:hover{
    background-color:#5e5c5c ;
    color: #c7c7c7;
}
/* HR */
hr {
    color: white;
    stroke-opacity: 0;

}

.parrafoSecction {
    color: aliceblue;
}

.divSvg {
    background-color: #f0f0ee;
    cursor: pointer;
}
.divSvg:hover {
    background-color: #40403f;
    color: white;

}

.icono {
    width: 150px;
}

.iconoNetflix {
    width: 150px;
    
}

.cardStream{
    background:#b0b1b4;
    border: none;
  
}

em {
    font-weight: bold;
}

.logoDolarvene {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.ico {
    color: #edeff1;
    font-size: 1.2rem;
}
.ico:hover {
    color: #08194c;
    
    
}



.sombra {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 20px;
}

.textCard {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
    
}

.buttonCard{
    font-size: 1rem;

}

.icoDisnep {
    width: 200px;
    margin: 2px;
}